* {
    box-sizing: border-box;
    border: 1px solid black;
    color: black;
}

html {
    background-color: gray;
}

html {
    height: 100%;
}

body {
    background-color: black;
}

main {
    background-color: white;
}

h1, h2, h3 {
    text-align: center;
    margin: 0;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 2rem;
}

.correct-answer {
    display: block;
    text-align: center;
}

br {
    display: block;
}

.final-score {
    text-align: center;
    display: block;
}

.final-score__number {
    font-size: 4rem;
    text-align: center;
    display: block;
}

ul {
    text-align: center;
    padding: 0;
}

li {
    list-style-type: none;
}

button {
    margin: 0 auto;
    display: block;
    background-color: white;
    padding: 2em 5em 2em 5em;
}